<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HTDatlichkham</display-name>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/adv/adjs/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FileUploadFilter</filter-name>
    <filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
    <init-param>
      <param-name>sessionCookieName</param-name>
      <param-value>JSESSIONID</param-value>
    </init-param>
    <init-param>
      <param-name>sessionParameterName</param-name>
      <param-value>jsessionid</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadFilter</filter-name>
    <url-pattern>
			/adv/adjs/ckfinder/core/connector/java/connector.java
     	 </url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/home/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gioi-thieu</servlet-name>
    <jsp-file>/home/gioi-thieu/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gioi-thieu</servlet-name>
    <url-pattern>/home/gioi-thieu/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tin-tuc</servlet-name>
    <jsp-file>/home/tin-tuc/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>tin-tuc</servlet-name>
    <url-pattern>/home/tin-tuc/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dat-lich-kham</servlet-name>
    <jsp-file>/home/dat-lich-kham/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dat-lich-kham</servlet-name>
    <url-pattern>/home/dat-lich-kham/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xac-nhan</servlet-name>
    <jsp-file>/home/dat-lich-kham/response-apointment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>xac-nhan</servlet-name>
    <url-pattern>/home/dat-lich-kham/xac-nhan/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ho-tro</servlet-name>
    <jsp-file>/home/ho-tro/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ho-tro</servlet-name>
    <url-pattern>/home/ho-tro/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lien-he</servlet-name>
    <jsp-file>/home/lien-he/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>lien-he</servlet-name>
    <url-pattern>/home/lien-he/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home/</welcome-file>
  </welcome-file-list>
</web-app>