*{
	margin:0;
	padding:0
}

body{
	/*background: #effff; 	 */
	font-family: Arial; 
	font-size: 12px;
	text-align: center;
}

table{
	width: 100%;/*rộng = không gian chứa*/
	font-size: 12px;
}

td, th{
	padding: 6px 5px;
}

th{
	background: #012139;
	color: #fff;
	text-transform: uppercase;
}

.lc{
	text-align: right;
	font-family: tahoma;
	font-weight: bold;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.clr{
	clear: both;
}

#pagelink{background: #888; margin:10px 0; text-align: left; padding: 6px; font: bold 10px Tahoma; color: #fff;}
.plinks span{background: #eee; padding: 3px 7px 3px 8px; margin: 8px 2px; color: #22f; }
.plinks span:hover{background: #bbb;}
.plinks:hover{text-decoration: none;}