*{
	margin:0;
}

body{
	/*background: #effff; 	 */
	font-family: Arial; 
	font-size: 12px;
	text-align: center;
}

table{
	width: 100%;/*rộng = không gian chứa*/
	font-size: 12px;
}

td, th{
	padding: 6px 5px;
}

th{
	background: #012139;
	color: #fff;
	text-transform: uppercase;
}

.lc{
	text-align: right;
	font-family: tahoma;
	font-weight: bold;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.clr{
	clear: both;
}