/*Thừa kế các định dạng chuẩn*/
@import url('common.css');

#loginview {
	width: 400px;
	height: auto;
	background: #fff;
	border: 1px solid #666;
	margin: 0 auto;
	margin-top: 200px;
	border-radius: 5px;
}
#loginview .icon{
	width: 20px;
	height: 20px;
}

body {
	background: url("../imgs/login_bg.jpg");
}