
.title{
	width: 90%;
	font-size: 15px;
	color: #2493D1;
	margin-top:15px;
	padding-top: 15px;
	border-top: 1px solid #2493D1;
	text-transform: uppercase;
	font-weight: bold;
}

.sub-title{
	width: 90%;
	font-size: 15px;
	color: #2493D1;
	margin-top:15px;
	padding-top: 15px;
	border-top: 1px solid #2493D1;
	text-transform: uppercase;
	font-weight: bold;
}
.label{
	font-weight: bold;
	font-size: 14px;
	color: #000;
}

.showdata{
	font-size: 13px;	
	font-style: italic;
	font-weight: normal;
}

.notice{
	font-weight: bold;
	font-size: 14px;
	color: #2493D1;
}

.hight-line{
	font-weight: bold;
	font-size: 14px;
	color: red;
}

#confirmMessage{
	font-weight: bold;
	font-size: 14px;
	color: #2493D1;
}